// less 全局变量

// layouts容器的全局样式变量
$layout-container-background-color: #f0f2f5;

// 侧边栏aside全局样式变量
$layout-aside-width: 200px;
$layout-aside-height: 100vh;
$layout-aside-menu-height: 50px;
$layout-aside-background-color: #343541;
$layout-aside-menu-active-color: #ffd04b;


